:root {
  --color-white: "#F4FBFB";
  --color-black: "#08020A";
  --color-black-transparent: "#08020A99";
  --color-spinner-background: "#FFFFFF37";
  --color-red--dark-theme: "#DA4E4E";

  --color-primary: "#0D1329";
  --color-background: "#F4FBFB";
  --color-text: var(--color-black);
  --color-grey: "#646464";
  --color-red: "#9E0F0F";
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-primary: "#434D5B";
    --color-background: "#2F2F2F";
    --color-text: var(--color-white);
    --color-grey-4: "#B0B0B0";
    --color-red: "#DA4E4E";
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition: color 0.5s, background-color 0.5s;
  font-family: "Arvo", serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
