:root {
  --color-white: #f4fbfb;
  --color-black: #08020a;
  --color-black-transparent: #08020a99;
  --color-spinner-background: #ffffff37;

  --color-primary: #0d1329;
  --color-background: #f4fbfb;
  --color-text: var(--color-black);
  --color-grey: #646464;
  --color-red: #9e0f0f;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-primary: #434d5b;
    --color-background: #2f2f2f;
    --color-text: var(--color-white);
    --color-grey-4: #b0b0b0;
    --color-red: #da4e4e;
    --color-red: #da4e4e;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition: color 0.5s, background-color 0.5s;
  font-family: "Arvo", serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
